<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/main.py">
    <p><input type="text" name="login" id="login" placeholder="логин" size="20" maxlength="10" style="-webkit-border-radius: 3px;"/></p>
    <label for="number">With what course do u wanna work?</label>
    <p><input type="number" name = "number" id="number" value="167" style="border: 3px solid #FF2400; background: #A8E4A0 !important;
   outline: none; <!--// удаляет обводку в браузерах хром(желтая) и сафари(синяя)-->
   height: 24px; <!--// высота на свое усмотрение-->
   width: 120px; <!--// ширина на свое усмотрение-->
   color: #cccccc; <!--//цвет шрифта в обычном состоянии-->
   font-size: 11px; <!--// Размер шрифта-->
   font-family: Times NewRoman; <!--// Стиль шрифта--> "></p>
    <button> type="submit" value="Авторизация" /></button>
</form>

</body>
</html>
