<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text</title>
</head>
<body>

<p><a name="up">лалала</a></p>

{% for elem in razd %}
    {% if razd[index] == elem %}
    <p> {{ elem }} </p>
    {% endif %}
{% endfor %}

<p>{{ number }}</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p><a href="#up">Наверх</a></p>

</body>
</html>